.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
  width: auto;
  background: transparent;
}

.logo-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}

.room {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  color: #0a0a0a;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.create-btn {
  color:#0a0a0a;
  font-size: 30px;
  background: transparent;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #0D8B8B 0%, #16A8A0 100%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}